<!DOCTYPE html>
<!--[if lt IE 7]>		<html dir="ltr" lang="en-US" class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]>			<html dir="ltr" lang="en-US" class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]>			<html dir="ltr" lang="en-US" class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html dir="ltr" lang="en-US" class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>Kudos</title>
    <meta name="description" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="CODE_LANGUAGE" content="C#" />
    <meta name="vs_defaultClientScript" content="JavaScript" />
    <meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5" />
    <!--[if lt IE 9]>
        <link rel="stylesheet" href="css/ie8-and-down.css">
    <![endif]-->
    @Styles.Render(
        "~/css/base.css",
        "~/css/responsive.css",
        "~/css/jquery-ui-1.8.23.custom.css",
        "~/css/glyphicons.css",
        "~/css/app.css",
        "~/css/style.css",
        "~/css/toastr.min.css"
    )

    @Scripts.Render(
       "~/js/lib/modernizr.min.js",
       "~/js/lib/jquery-1.9.1.js",
       "~/js/lib/jquery-ui-1.10.2.js",
       "~/js/lib/bootstrap.js")


    <script type="text/javascript">
        var hubEndpoint = '@Url.Content("~/signalr")';
    </script>
</head>
<body class="page-home">

    @RenderBody()
    <!-- todo: turn these into bundles -->
    @Scripts.Render(
        "~/js/lib/jquery.signalR-1.1.3.js",
        "~/js/lib/jquery.blockUI.js",
        "~/js/lib/json2.js",
        "~/js/lib/underscore.js",
        "~/js/lib/knockout-2.2.1.js",
        "~/js/lib/xregexp-min.js",
        "~/js/lib/knockout.validation.js",
        "~/js/lib/jquery.fastLiveFilter.js",
        "~/js/lib/moment.js",
        "~/js/lib/toastr.js")

    @Scripts.Render("~/js/app/proxy.js") 
    @Scripts.Render("~/js/app/models.js")
    @Scripts.Render("~/js/app/app.js")
</body>
</html>
